@import url('https://fonts.cdnfonts.com/css/kumbh-sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --verydark-desaturatedblue: hsl(229, 23%, 23%);
    --darkgrayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    background-color: #19A1AE;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    margin-top: 33vh;
}

.card {
    margin: 20px;
    background-color: #FFF;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    display: inline-flex;
}

.img-fundo {
    justify-content: flex-start;
    align-self: center;
    position: relative;
    bottom: 8rem;
    left: 12rem;
    width: fit-content;
}

.imgbx {
    overflow: hidden;
    display: flex;
    width: 96px;
    height: 96px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 96px;
    border: 5px solid #FFF;
    justify-content: center;
    right: 2.5rem;
    bottom: 4rem;
    position: relative;
}

.conteiner {
    text-align: center;
    position: relative;
    right: 15rem;
    top: 9rem;
}

.principal {
    position: relative;
    bottom: 6rem;
}

.conteiner h2 {
    font-size: 18px;
    color: var(--verydark-desaturatedblue);
    font-weight: bold;
    padding-bottom: 15px;
}

.conteiner span {
    font-size: 18px;
    color: var(--dark-gray);
    position: relative;
}

.conteiner p {
    font-size: 14px;
    color: var(--dark-gray);
    position: relative;
}

.social-media {
    border-top: solid #E8E9EC;
    border-width: 2px 0 0 0;
    display: flex;
    text-align: center;
    align-items: center;
    height: 3rem;
    position: relative;
    bottom: 4rem;
    right: 1rem;
    gap: 60px;
}

.social-media h3 {
    color: var(--verydark-desaturatedblue);
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 5px;
}

.social-media p {
    color: var(--dark-gray);
    font-size: 10px;
}

#nome {
    position: relative;
    top: 24px;
    padding-right: 25px;
    font-size: 18px;
    font-weight: 700;
}

#idade {
    position: relative;
    left: 4rem;
    top: 0rem;
}

@media (max-width: 1016px) {
    
    body {
        margin-top: 0;
    }

    .card {
        display: flex;
    }
}